<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"    
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"    
        xsi:schemaLocation="     
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd      
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">  

	<!-- 扫描DAO和SERVICE包并实现对象：@Component("empService")。controller包在springmvc中扫描 -->
	<context:component-scan base-package="com.xinyi"> 
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/> 
	</context:component-scan>
	
	<!-- 数据源,使用dbcp连接池 http://blog.csdn.net/qq_34359363/article/details/72763491 --> 
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
	    <property name="driverClassName"> 
	           <value>oracle.jdbc.driver.OracleDriver</value> 
	    </property> 
	    <property name="url"> 
	           <value>jdbc:oracle:thin:@127.0.0.1:1521:ORCL</value> 
	    </property> 
	    <property name="username"> 
	           <value>scott</value> 
	    </property> 
	    <property name="password"> 
	           <value>tiger</value> 
	    </property> 
	    <property name="maxActive"> 
	           <value>255</value> 
	    </property> 
	    <property name="maxIdle"> 
	           <value>2</value> 
	    </property>
	    
	    <!-- 等待连接超过2分钟,报错 --> 
	    <property name="maxWait"> 
	           <value>120000</value> 
	    </property> 
    </bean>
	
	<!-- 如果使用mybatis会话工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:sqlMapConfig.xml"></property>
        <property name="mapperLocations" value="classpath:com/xinyi/mapper/*.xml"></property>
    </bean>
    
    <!-- 扫描所有dao接口,自动生成dao实现 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <property name="basePackage" value="com.xinyi.mapper"/>
    </bean>
    
    <!-- spring事务处理 -->  
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource"></property>  
    </bean>  
  
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
